<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Digital marketing agency, Digital marketing company, Digital marketing services">
    <meta name="author" content="creativegigs">
    <meta name="description" content="Rogan creative multipurpose is a beautiful website template designed for SEO & Digital Agency websites.">
    <meta name="og:image" content="~/images/home/ogg.png">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#233D63">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#233D63">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#233D63">
    <title>@ViewData["Title"] - Reter.Presentetion.MVCCore</title>
    <!-- Favicon -->
    <link rel="icon" type="~/image/png" sizes="56x56" href="~/images/fav-icon/icon.png">
    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">

    <!-- Fix Internet Explorer ______________________________________-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="~/vendor/html5shiv.js"></script>
        <script src="~/vendor/respond.js"></script>
    <![endif]-->
</head>


<body>


<div class="main-page-wrapper">


    <!--
    =============================================
    Theme Main Menu
    ==============================================
    -->
    <div class="theme-main-menu theme-menu-one">
        <div class="logo">
            <a href="index.html">
                <img src="~/images/logo/logo.svg" alt="">
            </a>
        </div>
        <nav id="mega-menu-holder" class="navbar navbar-expand-lg">
            <div class="container nav-container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="flaticon-setup"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="index.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                            <ul class="dropdown-menu mega-container">
                                <li>
                                    <div class="clearfix">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-4 col-sm-6 mt-3 mb-3 mt-lg-3 mb-lg-3">
                                                <a asp-page="/Blog/ArticleCategoryManagement/List" asp-area="Admin" class="img-box">
                                                    <span class="text">ArticleCategoryManagement</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-6 mt-3 mb-3 mt-lg-3 mb-lg-3">
                                                <a asp-page="/Blog/ArticleManagement/List" asp-area="Admin" class="img-box">
                                                    <span class="text">ArticleManagement</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div> <!-- /.container -->
        </nav> <!-- /#mega-menu-holder -->
        <div class="header-right-widget">
            <ul>
                <li class="call-us">Call Us <a href="#">+880.762.009</a></li>
                <li class="language-switcher">
                    <div class="dropdown">
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                            En
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="ct-language__dropdown">
                                <li>
                                    <a href="#googtrans(en|en)" class="lang-en lang-select" data-lang="en">USA</a>
                                </li>
                                <li>
                                    <a href="#googtrans(en|ar)" class="lang-es lang-select" data-lang="ar">Arabic</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="contact-us-standard.html" class="contact-us white-shdw-button">Contact Us <i class="icon flaticon-back"></i></a>
                </li>
            </ul>
        </div> <!-- /.header-right-widget -->
    </div> <!-- /.theme-main-menu -->
    
   

    <!-- Optional JavaScript _____________________________  -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery -->
    <script src="~/vendor/jquery.2.2.3.min.js"></script>
    <!-- Popper js -->
    <script src="~/vendor/popper.js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- menu  -->
    <script src="~/vendor/mega-menu/assets/js/custom.js"></script>
    <!-- js ui -->
    <script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
    <!-- Select js -->
    <script src="~/vendor/selectize.js/selectize.min.js"></script>
    <!-- AOS js -->
    <script src="~/vendor/aos-next/dist/aos.js"></script>
    <!-- js count to -->
    <script src="~/vendor/jquery.appear.js"></script>
    <script src="~/vendor/jquery.countTo.js"></script>
    <!-- owl.carousel -->
    <script src="~/vendor/owl-carousel/owl.carousel.min.js"></script>
    <!-- Fancybox -->
    <script src="~/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <!-- isotop -->
    <script src="~/vendor/isotope.pkgd.min.js"></script>


    <!-- Language js -->
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    <!-- Theme js -->
    <script src="~/js/lang.js"></script>
    <script src="~/js/theme.js"></script>
</div> <!-- /.main-page-wrapper -->

<div class="mt-150">
    @RenderBody()

</div>
       
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>