@page
@model Reter.Presentation.MVCCore.Areas.Admin.Pages.Blog.ArticleCategoryManagement.CreateModel
@{
}

<div class="card">
    <div class="card-header">
        <h2>Create New Article Category</h2>
    </div>

    <div class="card-header">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="Title" class="control-label">Title:</label>
                        <input class="form-control" name="Title" id="Title" />
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="Description" class="control-label">Description:</label>
                        <input class="form-control" name="Description" id="Description" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a class="btn btn-dark" asp-page="./List" asp-area="Admin">Back To List</a>
                </div>
            </form>
        </div>
    </div>
</div>